
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:'5vh';
}
html{
    font-size: 12px;
}
body{
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
}
/* HEADER! */
.header-container{
border: 2px solid red;
height: 80px;
}
/* MAIN */
.main-container{
    height: 90vh;
}
.main-detalle-body{
    text-align: center;
}

.main-detalle-texto{
    font-size: 28px;
}
.class-button{
    font-size: 28px;
}
.main-detalle-buttonBack{
    height: 10vh;
}
.class-buttonBack{
    border:2px solid gray;
    background-color:transparent;
    color:white;
    background-color: linear-gradient(to right, #0ef, #c800ff);
    font-size: 20px;
}