body {
    background: #081b29;
}

.claseCol {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
.wrapper {
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 35px;
}

.submit {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.jeje {
    /* esta clase es para que los botones no tengan link y letra en blanco */
    text-decoration: none !important;
    color: white;
}

.claseImagen {
    width: auto;
    height: 45%;
    border-radius: 5%;
}

.footer {
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.link {
    color: #0ef;
    text-decoration: none;
}