.banner {
    position:absolute;
    width: 35vw;
    height: 100%;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    
}
.wel_text{
    margin:0px;
    text-align:center;
    font-size: 35px;
    
}
@media (max-width: 1000px) {
    .banner {
        align-items: center; /* Centra los elementos flexibles en pantallas más pequeñas */
    }
    .wel_text{
        font-size: 30px;
    }
}

